@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rajdhani&display=swap');

:root{
    --poppins : "Poppins", sans-serif;
    --rajdhani-bold : "Rajdhani", sans-serif;
    --rajdhani-regular : "Rajdhani", sans-serif;
    --arial : Arial, sans-serif;
    --bold-weight : 800;
    --regular-weight : 400;
    --card-width: 100%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
}

*{
    font-family: var(--rajdhani-regular);
    font-weight: var(--regular-weight);
    font-style: normal;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
    border: none;
    outline: none;
    transition: all .2 linear;
}
html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* start header section */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(20, 20, 20);
    padding: 1rem 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);   
    z-index: 1000;
    border-bottom: .5px solid rgb(150, 150, 150);
}
header .logo{
    padding: 1rem 0rem;
    align-items: center;
}
.logo img{
    width: 70%;
    height: auto;
}
header .navbar{
    padding: 1rem;
    display: flex;
    align-items: center;
}
.navbar a{
    font-family: var(--rajdhani-regular);
    font-weight: var(--bold-weight);
    font-size: 1.5rem;
    padding: 0.3rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    color: whitesmoke;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}
.navbar a.active,
.navbar a:hover{
    transform: scale(1.1);
}
.navbar a::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: #fc0000;
    position: absolute;
    left: 0;
    bottom: -3px;
}
.navbar a.active::after,
.navbar a:hover::after{
    width: 100%;
}
.menu-bar img{
    cursor: pointer;
    height: 28px;
}
.page-title,
.menu-bar{
    display: none;
}
/* end header section */


/* start body section */
body{ 
    margin-top: 173px;
    background: linear-gradient(rgba(0, 0, 0, 1),
                                rgba(0, 0, 0, 0.6),
                                rgba(0, 0, 0, 0.6),
                                rgba(0, 0, 0, 0.6),
                                rgba(0, 0, 0, 0.6),
                                rgba(0, 0, 0, 0.6),
                                rgba(0, 0, 0, 1)),
                url('/asset/background/honeycomb.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body .body-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
    width: 100%;
}
.body-title h1{
    font-size: 5rem;
    font-family: var(--rajdhani-bold);
    font-weight: var(--bold-weight);
    text-align: center;
}
body .car-tierlist{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
body .car-tierlist .card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid ghostwhitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.visuallyhidden{
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    opacity: 0;
}
.tier h1{
    font-family: var(--rajdhani-bold);
    font-weight: 600;
    font-size: 5rem;
    color: whitesmoke;
    display: flex;
    text-align: center;
    justify-content: center;
}
body .car-tierlist .container{
    border: 2px solid whitesmoke;
    overflow: hidden;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.card-carousel{
    z-index: 1;
    position: relative;
    margin: 0 auto;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
}
.card-carousel.smooth-return{
    transition: all .2s ease;
}
.card-carousel .card{
    background: rgb(50, 50, 50);
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1rem;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,0,0,.5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1rem;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card.highlight{
    filter: brightness(1)
}
.card.D:nth-of-type(1) .image-container{
    background-image: url('/asset/car-tierlist/D/BMW\ i8\ Roadster.jpg');
}
.card.D:nth-of-type(2) .image-container{
    background-image: url('/asset/car-tierlist/D/BMW\ Z4\ LCI\ E89.jpg');
}
.card.D:nth-of-type(3) .image-container{
    background-image: url('/asset/car-tierlist/D/Lamborghini\ Countach\ 25th\ Anniversary.jpg');
}
.card.D:nth-of-type(4) .image-container{
    background-image: url('/asset/car-tierlist/D/Lamborghini\ Huracan\ Super\ Trofeo\ Evo.jpg');
}
.card.D:nth-of-type(5) .image-container{
    background-image: url('/asset/car-tierlist/D/Lotus\ Emira.jpg');
}

.card.C:nth-of-type(1) .image-container{
    background-image: url('/asset/car-tierlist/C/Bugatti\ EB110.jpeg');
}
.card.C:nth-of-type(2) .image-container{
    background-image: url('/asset/car-tierlist/C/Brabham\ BT62.jpg');
}
.card.C:nth-of-type(3) .image-container{
    background-image: url('/asset/car-tierlist/C/Lamborghini\ Diablo\ GT.webp');
}
.card.C:nth-of-type(4) .image-container{
    background-image: url('/asset/car-tierlist/C/Porsche\ Boxster\ 25th.jpeg');
}
.card.C:nth-of-type(5) .image-container{
    background-image: url('/asset/car-tierlist/C/Ares\ S1.jpg');
}

.card.B:nth-of-type(1) .image-container{
    background-image: url('/asset/car-tierlist/B/Ferrari\ 488\ GTB\ Challenge\ Evo.jpg');
}
.card.B:nth-of-type(2) .image-container{
    background-image: url('/asset/car-tierlist/B/Lamborghini\ Reventon\ Roadster.jpeg');
}
.card.B:nth-of-type(3) .image-container{
    background-image: url('/asset/car-tierlist/B/McLaren\ 765.jpeg');
}
.card.B:nth-of-type(4) .image-container{
    background-image: url('/asset/car-tierlist/B/Nissan\ GTR-50\ Italdesign.jpeg');
}
.card.B:nth-of-type(5) .image-container{
    background-image: url('/asset/car-tierlist/B/Porsche\ 911\ GTS\ Coupe.jpg');
}

.card.A:nth-of-type(1) .image-container{
    background-image: url('/asset/car-tierlist/A/Citroen\ GT\ by\ Citroen.jpg');
}
.card.A:nth-of-type(2) .image-container{
    background-image: url('/asset/car-tierlist/A/Jaguar\ C-X75.webp');
}
.card.A:nth-of-type(3) .image-container{
    background-image: url('/asset/car-tierlist/A/Lamborghini\ SC20.jpeg');
}
.card.A:nth-of-type(4) .image-container{
    background-image: url('/asset/car-tierlist/A/McLaren\ Senna\ GTR.jpeg');
}
.card.A:nth-of-type(5) .image-container{
    background-image: url('/asset/car-tierlist/A/Porsche\ 918\ Spyder.jpg');
}

.card.S:nth-of-type(1) .image-container{
    background-image: url('/asset/car-tierlist/S/Bugatti\ Centodieci.jpg');
}
.card.S:nth-of-type(2) .image-container{
    background-image: url('/asset/car-tierlist/S/Bugatti\ Divo.webp');
}
.card.S:nth-of-type(3) .image-container{
    background-image: url('/asset/car-tierlist/S/Lamborghini\ Veneno.jpeg');
}
.card.S:nth-of-type(4) .image-container{
    background-image: url('/asset/car-tierlist/S/McLaren\ Speedtail.webp');
}
.card.S:nth-of-type(5) .image-container{
    background-image: url('/asset/car-tierlist/S/Spania\ GTA\ 2015\ GTA\ Spano.jpeg');
}
.image-container{
    width: 100%;
    height: 12rem;
    position: relative;
    background-size: cover;
    margin-bottom: 2rem;
    padding: 1rem;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);  
}
.card p{
    font-family: var(--rajdhani-regular);
    font-weight: var(--regular-weight);
    padding: 0 1rem;
    font-size: 1.5rem;
}
/* end body section */


/* start footer section */
footer{
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)), url('/asset/background/background3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 3rem;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: start;
    padding: 2rem 10rem;
}
.container .top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top img{
    width: 20rem;
}
.container .box{
    flex: 1;
    padding: 1rem 2rem;
}
.box h2{
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 600;
}
.box p,
.box a{
    font-size: 1.2rem;
    text-transform: capitalize;
}
.top.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .media{
    display: flex;  
    align-items: center;
}
.right .media a{
    padding-right: 2rem;
}
.right .media img{
    filter: brightness(80%);
    width: 2rem;
    justify-content: space-between;
    transition: 0.3s;
}
.right .media img:hover{
    transform: scale(1.2);
}
.left .page-link{
    display: flex;
    flex-direction: column;
}
.center .terms a,
.left .page-link a{
    filter: brightness(80%);
    padding: 5px 0;
}
.center .terms a:hover,
.left .page-link a:hover{
    color: rgb(230, 61, 42);
}
.page-link, 
.terms{
    display: flex;
    flex-direction: column;
}
.bottom.box{
    text-align: center;
}
.bottom.box p{
    font-size: 1rem;
    margin: 0 10rem;
}
/* end footer section */


/* media screen */
@media (max-width: 768px){
    /* start header section */
    header{
        padding: 1rem 2rem;
        flex-direction: row;
        justify-content: space-between;
    }
    header .logo img{
        width: 3rem;
    }
    header .menu-bar{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: rgb(20, 20, 20);
        flex-direction: column;
        text-align: center;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
        transition: clip-path 0.2s;
    }
    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    header .navbar a{
        font-size: 1.2rem;
        display: block;
        padding: .7rem;
        margin: .5rem;
    }
    header .page-title{
        display: block;
        text-align: center;
    }
    .page-title h1{
        font-family: var(--rajdhani-bold);
        font-weight: var(--bold-weight);
        color: whitesmoke;
        font-size: 2rem;
    }
    /* end header section */


    /* start body section */
    body{
        margin-top: 95px;
    }
    .body-title h1{
        font-size: 3rem;
        margin-top: -8rem;
    }
    .tier h1{
        font-size: 2.5rem;
    }
    /* end body section */

    /* start footer section */
    footer .container{
        display: flex;
        text-align: center;
        padding: 2rem 5rem;
    }
    .right .media{
        display: flex;  
        align-items: center;
        justify-content: center;
        flex-flow: wrap;
    }
    .right .media a{
        padding: 1rem;
    }
    .bottom.box p{
        font-size: .8rem;
        margin: 0 3rem;
    }
    .box h2{
        font-size: 1.5rem;
    }
    .box p,
    .box a{
        font-size: 1rem;
    }
    /* end footer section */
}