@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rajdhani&display=swap');

:root{
    --poppins : "Poppins", sans-serif;
    --rajdhani-bold : "Rajdhani", sans-serif;
    --rajdhani-regular : "Rajdhani", sans-serif;
    --arial : Arial, sans-serif;
    --bold-weight : 800;
    --regular-weight : 400;
}

*{
    font-family: var(--rajdhani-regular);
    font-weight: var(--regular-weight);
    font-style: normal;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
    border: none;
    outline: none;
    transition: all .2 linear;
}
html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* start header section */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(20, 20, 20);
    padding: 1rem 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-bottom: .5px solid rgb(150, 150, 150);
}
header .logo{
    padding: 1rem 0rem;
    align-items: center;
}
.logo img{
    width: 70%;
    height: auto;
}
header .navbar{
    padding: 1rem;
    display: flex;
    align-items: center;
}
.navbar a{
    font-family: var(--rajdhani-regular);
    font-weight: var(--bold-weight);
    font-size: 1.5rem;
    padding: 0.3rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    color: whitesmoke;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}
.navbar a.active,
.navbar a:hover{
    transform: scale(1.1);
}
.navbar a::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: #fc0000;
    position: absolute;
    left: 0;
    bottom: -3px;
}
.navbar a.active::after,
.navbar a:hover::after{
    width: 100%;
}
.menu-bar img{
    cursor: pointer;
    height: 28px;
}
.page-title,
.menu-bar{
    display: none;
}
/* end header section */


/* start body section */
body{ 
    margin-top: 173px;
    background: linear-gradient(rgba(0, 0, 0, 1),
                                rgba(0, 0, 0, 0.6),
                                rgba(0, 0, 0, 0.6),
                                rgba(0, 0, 0, 0.6),
                                rgba(0, 0, 0, 1)),
                url('/asset/background/honeycomb.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem;
}
body .body-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.body-title h1{
    font-size: 5rem;
    font-family: var(--rajdhani-bold);
    font-weight: var(--bold-weight);
    text-align: center;
}
body .news{
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
body .card{
    background: rgb(50, 50, 50);
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    height: 28rem;
    width: 23rem;
    position: relative;
    display: none;
}
.card .image-container{
    height: 13rem;
    width: 23rem;
    background-size: cover;
    background-position: center;
}
.card:hover{
    transform: scale(1.05);
}
.card:nth-of-type(1) .image-container {
    background-image: url('/asset/news-photo/MAINTENANCE.jpg');
}
.card:nth-of-type(2) .image-container {
    background-image: url('/asset/news-photo/SUMMER-PATCH\ NOTES.jpg');
}
.card:nth-of-type(3) .image-container {
    background-image: url('/asset/news-photo/KOREAN\ FOOD\ FESTIVAL.jpg');
}
.card:nth-of-type(4) .image-container {
    background-image: url('/asset/news-photo/WTE\ EUROBLOOM\ PATCH\ NOTES.jpg');
}
.card:nth-of-type(5) .image-container {
    background-image: url('/asset/news-photo/UNITE.jpg');
}
.card:nth-of-type(6) .image-container {
    background-image: url('/asset/news-photo/ROADMAP-MARCH.jpg');
}
.card:nth-of-type(7) .image-container {
    background-image: url('/asset/news-photo/FERRARI\ SF90.jpg');
}
.card:nth-of-type(8) .image-container {
    background-image: url('/asset/news-photo/ATS\ AUTOMOBILI\ GT.jpg');
}
.card:nth-of-type(9) .image-container {
    background-image: url('/asset/news-photo/W\ MOTORS\ LYKAN\ NEON.jpg');
}
.card:nth-of-type(10) .image-container {
    background-image: url('/asset/news-photo/OVERCLOCK\ NEW\ FEATURE.jpg');
}
.card:nth-of-type(11) .image-container {
    background-image: url('/asset/news-photo/ITALIAN\ PATCH\ NOTES.jpg');
}
.card:nth-of-type(12) .image-container {
    background-image: url('/asset/news-photo/JAGUAR\ XJ220S\ TWR.jpg');
}
.card:nth-of-type(13) .image-container {
    background-image: url('/asset/news-photo/FORD\ TEAM\ FORDZILLA\ P1.jpg');
}
.card:nth-of-type(14) .image-container {
    background-image: url('/asset/news-photo/ZENVO\ AUTOMOTIVE\ SENIOR.jpg');
}
.card:nth-of-type(15) .image-container {
    background-image: url('/asset/news-photo/ULTIMA\ RS.jpg');
}
.card:nth-of-type(16) .image-container {
    background-image: url('/asset/news-photo/TORINO\ DESIGN.jpg');
}
.card:nth-of-type(17) .image-container {
    background-image: url('/asset/news-photo/KOENIGSEGG\ AGERA\ RS.jpg');
}
.card:nth-of-type(18) .image-container {
    background-image: url('/asset/news-photo/AUTOMOBILI\ PININFARINA\ BATTISTA.jpg');
}
.card:nth-of-type(19) .image-container {
    background-image: url('/asset/news-photo/ROADMAP-DECEMBER.jpg');
}
.card:nth-of-type(20) .image-container {
    background-image: url('/asset/news-photo/TREASURE\ HUNT.jpg');
}
.card:nth-of-type(21) .image-container {
    background-image: url('/asset/news-photo/SPONSORSHIPS.jpg');
}
.card:nth-of-type(22) .image-container {
    background-image: url('/asset/news-photo/DRIVE\ SYNDICATE\ 8.jpg');
}
.card:nth-of-type(23) .image-container {
    background-image: url('/asset/news-photo/FESTIVE\ SPARKS\ PATCH\ NOTES.jpg');
}
.card:nth-of-type(24) .image-container {
    background-image: url('/asset/news-photo/WILDFIRE.jpg');
}
.card h1{
    padding : 1rem;
    font-weight: var(--bold-weight);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
}
.card .info{
    padding: 0 1rem;
    font-size: 1rem;
}
.card .date{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 0.875rem;
    color: #bbb;
}
.get-more{
    display: flex;
    align-items: center;
    justify-content: center;
}
#load-more{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: var(--bold-weight);
    border: 1px solid whitesmoke;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
    transition: 0.3s;
    margin: 2rem auto;
}
#load-more:hover{
    background-color: rgb(50, 50, 50);
}
/* end body section */


/* start footer section */
footer{
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)), url('/asset/background/background3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 3rem;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: start;
    padding: 2rem 10rem;
}
.container .top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top img{
    width: 20rem;
}
.container .box{
    flex: 1;
    padding: 1rem 2rem;
}
.box h2{
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 600;
}
.box p,
.box a{
    font-size: 1.2rem;
    text-transform: capitalize;
}
.top.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .media{
    display: flex;  
    align-items: center;
}
.right .media a{
    padding-right: 2rem;
}
.right .media img{
    filter: brightness(80%);
    width: 2rem;
    justify-content: space-between;
    transition: 0.3s;
}
.right .media img:hover{
    transform: scale(1.2);
}
.left .page-link{
    display: flex;
    flex-direction: column;
}
.center .terms a,
.left .page-link a{
    filter: brightness(80%);
    padding: 5px 0;
}
.center .terms a:hover,
.left .page-link a:hover{
    color: rgb(230, 61, 42);
}
.page-link, 
.terms{
    display: flex;
    flex-direction: column;
}
.bottom.box{
    text-align: center;
}
.bottom.box p{
    font-size: 1rem;
    margin: 0 10rem;
}
/* end footer section */


/* media screen */
@media (max-width: 768px){
    /* start header section */
    header{
        padding: 1rem 2rem;
        flex-direction: row;
        justify-content: space-between;
    }
    header .logo img{
        width: 3rem;
    }
    header .menu-bar{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: rgb(20, 20, 20);
        flex-direction: column;
        text-align: center;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
        transition: clip-path 0.2s;
    }
    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    header .navbar a{
        font-size: 1.2rem;
        display: block;
        padding: .7rem;
        margin: .5rem;
    }
    header .page-title{
        display: block;
        text-align: center;
    }
    .page-title h1{
        font-family: var(--rajdhani-bold);
        font-weight: var(--bold-weight);
        color: whitesmoke;
        font-size: 2rem;
    }
    /* end header section */


    /* start body section */
    body{
        margin-top: 95px;
    }
    .body-title h1{
        font-size: 3rem;
    }
    body .card{
        margin: 1rem -3rem;
    }
    #load-more{
        font-size: 1.5rem;
    }
    /* end body section */

    /* start footer section */
    footer .container{
        display: flex;
        text-align: center;
        padding: 2rem 5rem;
    }
    .right .media{
        display: flex;  
        align-items: center;
        justify-content: center;
        flex-flow: wrap;
    }
    .right .media a{
        padding: 1rem;
    }
    .bottom.box p{
        font-size: .8rem;
        margin: 0 3rem;
    }
    .box h2{
        font-size: 1.5rem;
    }
    .box p,
    .box a{
        font-size: 1rem;
    }
    /* end footer section */
}