@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rajdhani&display=swap');

:root{
    --poppins : "Poppins", sans-serif;
    --rajdhani-bold : "Rajdhani", sans-serif;
    --rajdhani-regular : "Rajdhani", sans-serif;
    --arial : Arial, sans-serif;
    --bold-weight : 800;
    --regular-weight : 400;
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
}

*{
    font-family: var(--rajdhani-regular);
    font-weight: var(--regular-weight);
    font-style: normal;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
    border: none;
    outline: none;
    transition: all .2 linear;
}
html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* start header section */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(20, 20, 20);
    padding: 1rem 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-bottom: .5px solid rgb(150, 150, 150);
}
header .logo{
    padding: 1rem 0rem;
    align-items: center;
}
.logo img{
    width: 70%;
    height: auto;
}
header .navbar{
    padding: 1rem;
    display: flex;
    align-items: center;
}
.navbar a{
    font-family: var(--rajdhani-regular);
    font-weight: var(--bold-weight);
    font-size: 1.5rem;
    padding: 0.3rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    color: whitesmoke;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}
.navbar a.active,
.navbar a:hover{
    transform: scale(1.1);
}
.navbar a::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: #fc0000;
    position: absolute;
    left: 0;
    bottom: -3px;
}
.navbar a.active::after,
.navbar a:hover::after{
    width: 100%;
}
.menu-bar img{
    cursor: pointer;
    height: 28px;
}
.page-title,
.menu-bar{
    display: none;
}
/* end header section */


/* start body section */
body{ 
    margin-top: 173px;
}
body .background{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 1),
                                rgba(0, 0, 0, 0.5),
                                rgba(0, 0, 0, 1)),
                url('/asset/background/honeycomb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}
.background .form-container{
    margin: 10rem;
}
.background .form-container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: var(--bold-weight);
    padding-bottom: 3rem;
}
.form-container .form-background{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background: rgb(20, 20, 20);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}
.form-background #registerForm{
    height: auto;
    width: 50rem;
    font-size: 2rem;
}
#registerForm .box{
    margin: .5rem .5rem 2rem .5rem;
}
.box .input-control{
    display: flex;
    flex-direction: column;
}
.input-control input{
    padding: 0 .5rem;
    border: 2px solid whitesmoke;
    display: block;
    font-size: 1.5rem;
    height: 3rem;
    width: 100%;
    color: rgb(20, 20, 20);
    border-radius: 5px;
}
.form-background .submit-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .7rem;
}
.form-background .submit-form button{
    font-size: 2rem;
    color: rgb(20, 20, 20);
    height: 4rem;
    width: 12rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: .3s;
}
.form-background .submit-form button:hover{
    background-color: #fc0000;
}
.box .tnc{
    font-size: 1.3rem;
}
.box.role {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-creator-role,
.viewer-role{
    margin-right: 3rem;
}
#gender{
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 2px solid whitesmoke;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    border-radius: 5px;
    width: 100%;
}
#gender option{
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    padding: 0.5rem;
    font-size: 1.5rem;
}
select{
    padding-right: 20px;
    appearance: none;
    background: url('/asset/icon/downward.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 10px;
    background-color: rgb(20, 20, 20);
    background-position-x: calc(100% - 10px);
    background-size: 12px 12px;
}
.error{
    padding-top: 1rem;
    color: red;
    font-size: 1rem;
}
#roleError.error{
    padding-top: .5rem;
}
.popup{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}
.popup-content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    font-size: 2rem;
    margin: auto;
    height: 20rem;
    width: 50rem;
    padding: 1.5rem;
    border-radius: 10px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.close-btn img{
    width: 20px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.5);
}
.popup p{
    color: rgb(20, 20, 20);
}
/* end body section */


/* start footer section */
footer{
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)), url('/asset/background/background3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 3rem;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: start;
    padding: 2rem 10rem;
}
.container .top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top img{
    width: 20rem;
}
.container .box{
    flex: 1;
    padding: 1rem 2rem;
}
.box h2{
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 600;
}
.box p,
.box a{
    font-size: 1.2rem;
    text-transform: capitalize;
}
.top.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .media{
    display: flex;  
    align-items: center;
}
.right .media a{
    padding-right: 2rem;
}
.right .media img{
    width: 2rem;
    justify-content: space-between;
    transition: 0.3s;
}
.right .media img:hover{
    transform: scale(1.2);
}
.left .page-link{
    display: flex;
    flex-direction: column;
}
.center .terms a,
.left .page-link a{
    padding: 5px 0;
}
.center .terms a:hover,
.left .page-link a:hover{
    color: rgb(230, 61, 42);
}
.page-link, 
.terms{
    display: flex;
    flex-direction: column;
}
.bottom.box{
    text-align: center;
}
.bottom.box p{
    font-size: 1rem;
    margin: 0 10rem;
}
/* end footer section */


/* media screen */
@media (max-width: 768px){
    /* start header section */
    header{
        padding: 1rem 2rem;
        flex-direction: row;
        justify-content: space-between;
    }
    header .logo img{
        width: 3rem;
    }
    header .menu-bar{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: rgb(20, 20, 20);
        flex-direction: column;
        text-align: center;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
        transition: clip-path 0.2s;
    }
    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    header .navbar a{
        font-size: 1.2rem;
        display: block;
        padding: .7rem;
        margin: .5rem;
    }
    header .page-title{
        display: block;
        text-align: center;
    }
    .page-title h1{
        font-family: var(--rajdhani-bold);
        font-weight: var(--bold-weight);
        color: whitesmoke;
        font-size: 2rem;
    }
    /* end header section */


    /* start body section */
    body{
        margin-top: 95px;
    }
    .background .form-container h1{
        font-size: 3rem;
    }
    .form-background #registerForm{
        font-size: 1.5rem;
    }
    .form-background .submit-form button{
        font-size: 1.5rem;
        height: 3rem;
        width: 10rem;
    }
    /* end body section */

    /* start footer section */
    footer .container{
        display: flex;
        text-align: center;
        padding: 2rem 5rem;
    }
    .right .media{
        display: flex;  
        align-items: center;
        justify-content: center;
        flex-flow: wrap;
    }
    .right .media a{
        padding: 1rem;
    }
    .bottom.box p{
        font-size: .8rem;
        margin: 0 3rem;
    }
    .box h2{
        font-size: 1.5rem;
    }
    .box p,
    .box a{
        font-size: 1rem;
    }
    /* end footer section */
}